.standard {
	transition: transform 2s;
}

.austrailian {
	transform: rotate(180deg);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
